[submodule "src/vendor/golang.org/x/net"]
	path = src/vendor/golang.org/x/net
	url = https://go.googlesource.com/net
[submodule "src/vendor/github.com/c2g"]
	path = src/vendor/github.com/c2g
	url = https://github.com/dhubler/c2g.git
[submodule "src/vendor/github.com/stianeikeland/go-rpio"]
	path = src/vendor/github.com/stianeikeland/go-rpio
	url = https://github.com/stianeikeland/go-rpio.git
